<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/admin_layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="admin_content">

    <div class="row">
        <div class="col-12">
            <div class="card mt-2">
                <div class="card-header">
                    <h4>Новий пункт вакцинації</h4>
                </div>
                <div class="card-body">
                    <form action="#" th:action="@{/admin/vaccination_points/new}" th:object="${vaccinationPoint}" method="post">
                        <div class="form-group">
                            <label for="address">Адреса</label>
                            <input type="text" class="form-control" id="address" aria-describedby="address" placeholder="Введіть адресу" th:field="*{address}">
                        </div>
                        <button type="submit" class="btn btn-primary">Створити</button>
                    </form>
                </div>
            </div>
        </div>
    </div>




</div>
</body>
</html>