<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/data_table_layout}">
<head>
  <meta charset="utf-8">
  <title>records</title>
</head>
<body>

<div layout:fragment="data_table_content">
  <tr th:each="record,iter : ${pageData.getItems()}">
    <td th:text="${iter.count}"></td>
    <td th:text="${record.getSurname()}"></td>
    <td th:text="${record.getName()}"></td>
    <td th:text="${record.getPatronymic()}"></td>
    <td th:text="${record.getVaccine()}"></td>
    <td th:text="${record.getDoctor().getSurname()}"></td>
    <td th:text="${#calendars.format(record.getVaccineDate(),'dd MMMM yyyy')}"></td>
    <td th:text="${record.getRecordTime().getTime()}"></td>

    <td>
      <a th:href="@{'/admin/records/details/' + ${record.getId()}}" type="button" class="btn btn-outline-primary">Деталі</a>
    </td>
    <td>
      <a th:href="@{'/admin/records/delete/' + ${record.getId()}}" type="button" class="btn btn-outline-secondary">Видалити</a>
    </td>
  </tr>
</div>

</body>
</html>